<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
	#popup1 {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .7);
		z-index: 1;
		backdrop-filter: blur(4px);
 		-webkit-backdrop-filter: blur(4px);
	}
	.popup {
		padding: 20px;
		background: #fff;
		border-radius: 5px;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	}
	p span {
		color:red;
	}
	input[type=number] {
		width:100px;
	}
	.helpSpan {
		color:blue;
		font-size:0.8em;
	}
	#setTB li{
		margin-bottom : 10px;
	}

</style>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/sidebar :: sidebar"/>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/topbar :: topbar"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid" align="center">
                <!-- 페이지 이름  -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-80"> 내역보기 </h1>
                </div>

                <!-- 첫번째 줄 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-body" align="center">

                                <div class="input-group" style="justify-content:center;">
                                    <button class="btn btn-primary" onclick="popupRecordForm()"
                                            style="margin-right: 10px;">입출력 입력
                                    </button>
                                    <input type="text" id="searchKeyword" class="form-control bg-light border-0 small"
                                           style="max-width:340px; border-top-left-radius:5px; border-bottom-left-radius:5px;"
                                           aria-label="Search" aria-describedby="basic-addon2"/>
                                    <div class="input-group-append">
                                        <button id="searchbth" class="btn btn-primary">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                                <br/> <br/>
                                <input type="hidden" id="memberId" name="memberId" th:value="${#authentication.name}">

                                <br/>
                                <div class="input-group " style="justify-content:center;">
                                    <input id="checkbox" type="checkbox" style="margin-top:3px;"/> 예산 외 </br>
                                    <input type="date" name="searchDate" id="searchDate"/>
                                    <input type="hidden" name="record_type" id = "record_type" />
                                </div>
                                <br/>

                                <div id="moneyLog">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <footer th:replace="fragments/footer :: footer"/>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>


<script>

	$(document).ready(function(){

		$("#searchbth").on('click', function(){
             $.ajax({
				url:"/budget/moneyRecordContent",
				type:'GET',
				data:{
					"date":$('#searchDate').val(),
					"content":$('#searchKeyword').val(),
					"record_type":$('#record_type').val()
				},
				success:function(data){
				    console.log("data :",data);
				    $("#moneyLog").empty();
					$("#moneyLog").append(data);
				}
			});
		});


		$("#checkbox").change(function(){
			if($("#checkbox").is(":checked")){
                $('#record_type').val("except");
			}else{
			    $('#record_type').val("budget");
			}
		});


	});

	function popupRecordForm(){

        var memberId = $("#memberId").val();

		var url="/budget/"+memberId+"/recordForm";

		var popupX = (window.screen.width/2) - (500/2);
		//&nbsp;만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
		var popupY= (window.screen.height/2) - (600/2);
		//&nbsp;만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음

		window.open(url, '', 'status=no, height=600, width=500, left='+ popupX + ', top='+ popupY);
	}

</script>
</html>

