<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">


    <!-- 두번째 줄 -->
    <div class="row">
        <!-- 지출금액 Top3 -->
        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">지출금액 TOP3</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr th:each="expense, index : ${expenseList}">
                            <td th:text="${index.count}"></td>
                            <td th:text="${{expense.content}}"></td>
                            <td th:text="${{expense.amount}}"><p>원</p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- 지출건수 Top3 -->
        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">지출카테고리 TOP3</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr th:each="category, index : ${categoryList}">
                            <td th:text="${index.count}"></td>
                            <td th:text="${{category.category.category_name}}"></td>
                            <td th:text="${{category.sum_amount}}+'원'"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom scripts for all pages-->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script type="text/javascript" th:inline="javascript">

        test();

        function test(){
        }

	  	var ctx = document.getElementById("myBarChart");
		var labelList = ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'];
		var dataList = [12, 19, 3, 5, 2, 3];
		var max = 15;

    </script>
    <script src="/js/report/dailyBar.js"></script>
</div>



