<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/moamore/main.moa">
        <div class="sidebar-brand-icon">
            <!-- <i class="fas fa-laugh-wink"></i> -->
            <img src="/moamore/resources/img/whitepigF.png" width="50" height="50"/>
        </div>
        <div class="sidebar-brand-text mx-3">모아 & More</div>

    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- 예산 사용액 그래프 -->
    <div class="card" id="BudgetState" style="border-radius:0;height:100px;">

    </div>


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/budget/report">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>대시보드</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- 예산탭 시작 -->

    <!-- Heading -->
    <div class="sidebar-heading">
        예산 관리
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/budget/new">
            <i class="fas fa-fw fa-coins"></i>
            <span>예산 설정</span></a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/budget/record">
            <i class="fas fa-fw fa-list-ul"></i>
            <span>수입/지출내역</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/budget/report">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>보고서</span></a>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->


    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/category/__${#authentication.name}__/list}">
            <i class="fas fa-fw fa-cog"></i>
            <span>카테고리 설정</span></a>
    </li>
</ul>